#container {
  margin-left:auto;
  margin-right:auto;
  width:960px;
  max-height:100%;
  
}

body {
	max-height:100%;
  overflow: scroll;
}

div#text { font-size:large;}

div#navbar { 
 height: 30px; 
 width: 100%; 
 text-align:center;
 border-top: solid #000 1px; 
 border-bottom: solid #000 1px; 
 background-color: #000000; 
 } 

 div#navbar ul { 
 margin: 0px; 
 padding: 0px; 
 font-family: Arial, Helvetica, sans-serif; 
 font-size: small; 
 color: #FFF; 
 line-height: 30px; 
 white-space: nowrap; 
 } 

 div#navbar li { 
 list-style-type: none; 
 display: inline; 
 } 

 div#navbar li a { 
 text-decoration: none; 
 padding: 7px 10px; 
 color: #FFF; 
 } 

 div#navbar li a:link { 
 color: #FFF: 
 } 

 div#navbar li a:visited { 
 color: #CCC; 
 } 

 div#navbar li a:hover { 
 font-weight: bold; 
 color: #FFF; 
 background-color: #3366FF; 
 } 
 

