.container {
  margin-left:auto;
  margin-right:auto;
  width:90%;
  max-width:90%;
  min-width:90%;
}

body {
	width:100%;
}

.wrap {
	width:100%;
}

div#text { font-size:large;}

.fb-page, 
.fb-page span, 
.fb-page span iframe[style] { 
    width: 100% !important; 
}

/*div#navbar { 
 height: 30px; 
 width: 100%; 
 text-align:center;
 border-top: solid #000 1px; 
 border-bottom: solid #000 1px; 
 background-color: #000000; 
 } 

 div#navbar ul { 
 margin: 0px; 
 padding: 0px; 
 font-family: Arial, Helvetica, sans-serif; 
 font-size: small; 
 color: #FFF; 
 line-height: 30px; 
 white-space: nowrap; 
 } 

 div#navbar li { 
 list-style-type: none; 
 display: inline; 
 } 

 div#navbar li a { 
 text-decoration: none; 
 padding: 7px 10px; 
 color: #FFF; 
 } 

 div#navbar li a:link { 
 color: #FFF: 
 } 

 div#navbar li a:visited { 
 color: #CCC; 
 } 

 div#navbar li a:hover { 
 font-weight: bold; 
 color: #FFF; 
 background-color: #3366FF; 
 } */

 .officer-image{
 	padding-right:10px; 
 	padding-bottom:10px;
 }

 .blue-navbar {
 	/*border-color:#3c4d98 !important;*/
 	background-color: #3a8ac1 !important;
 	border-radius:0px !important;
 }

.navbar-link {
 	color:white !important;
 	font-weight: bold !important;
 }

 .navbar-link:hover {
 	color:#3a8ac1 !important;
 	font-weight: bold !important;

 }

 .navbar-button {
 	background-color:#3a8ac1 !important;
 }

 .navbar-button:hover {
 	background-color:white !important;
 }

 .twitter-timeline {
 	height:300px !important;
 	overflow: scroll !important;
 	border: 8px solid #f6f7f9 !important;
 }

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}



 

